<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" />
    <link rel="stylesheet" href="{% static 'css/hamburgerMenu.css' %}" />
  </head>
  <body>
    <div  class="main-container">
      <div class="name-file-options">
        <span class="app-school-fig">App School.fig</span>
        <div class="option-list">
            <input type="file" id="fileInput">
          <div class="option">
            <div class="icon-circle">
              <div class="icons-line-share">
                <div class="share"><div class="vector"></div></div>
              </div>
              <div class="ellipse"></div>
            </div>
            <span class="share-1">Share</span>
          </div>
          <div class="option-2">
            <div class="icon-circle-3">
              <div class="icons-line-download">
                <div class="download"></div>
              </div>
              <div class="ellipse-4"></div>
            </div>
            <span class="download-5">Download</span>
          </div>
          <div class="option-6">
            <div class="icon-circle-7">
              <div class="icons-line-trash"><div class="trash"></div></div>
              <div class="ellipse-8"></div>
            </div>
            <span class="delete">Delete</span>
          </div>
        </div>
      </div>
      <div class="bg"></div>
    </div>
  </body>

</html>
